.root {
    -fx-font-size: 15px;
}

.active-tab-focus {
    -fx-focus-color: rgba(255, 255, 255, 0);
    -fx-faint-focus-color: rgba(255, 255, 255, 0);
}

.active-tab {
    -fx-background-color: #FFF;
}

.inactive-tab {
    -fx-background-color: #D3D3D3;
}